.settings_screen {
  position: fixed;
  inset: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  background-color: var(--USER__backgroundColor);
  color: var(--USER__textColor);
}

.settings_screen__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
